/* About Us */

.in-modal
{
	overflow: hidden;
}

body.modal-open
{
	padding-right: 0 !important;
}

div.modal
{
	padding-right: 0 !important;
	z-index: 222222;
}

div.modal-backdrop
{
	z-index: 111111;
}

button.close
{
	opacity: 1;
	color: #fff;
}

div.modal-content
{
	background-color: #d85b72;
	font-family: "Signika";
	color: #fff;
}

div.modal-header
{
	border-bottom: none;
}

div.modal img#logo
{
	width: 100%;
	height: auto;
}

div.drop-shadow
{
	background-color: rgba(0,0,0, 0.2);
	border-radius: 50%;
	padding: 10px;
	width: 70%;
	margin: auto;
	margin-top: 80px;
}

div.modal-content h2, div.modal-content h1
{
	text-transform: uppercase;
	font-weight: 200;
}

div.modal-content p
{
	text-align: justify;
	font-size: .8em;
}

div.modal-footer
{
	text-align: left;
	border-top: none;
	margin-bottom: 50px;
}

div.modal-footer a
{
	padding: 5px;
	font-size: .8em;
	font-weight: 200;
	margin-right: 30px;
	text-decoration: none;
}

div.modal-footer a#facebook
{
	background-color: #405d95;
	color: #fff;
}

div.modal-footer a#facebook .fa-facebook
{
	margin-right: 5px;
}

div.modal-footer a#mail
{
	background-color: #fff;
	color: #d85b72;
}

div.fb-share-button
{
	display: none;
}

div.modal img#logo
{
	animation: logoAnimation ease-in-out 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: logoAnimation ease-in-out 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: logoAnimation ease-in-out 2s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: logoAnimation ease-in-out 2s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: logoAnimation ease-in-out 2s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}

@keyframes logoAnimation{
  0% {
    transform:  translate(0px,10px)  ;
  }
  50% {
    transform:  translate(0px,40px)  ;
  }
  100% {
    transform:  translate(0px,10px)  ;
  }
}

@-moz-keyframes logoAnimation{
  0% {
    -moz-transform:  translate(0px,10px)  ;
  }
  50% {
    -moz-transform:  translate(0px,40px)  ;
  }
  100% {
    -moz-transform:  translate(0px,10px)  ;
  }
}

@-webkit-keyframes logoAnimation {
  0% {
    -webkit-transform:  translate(0px,10px)  ;
  }
  50% {
    -webkit-transform:  translate(0px,40px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,10px)  ;
  }
}

@-o-keyframes logoAnimation {
  0% {
    -o-transform:  translate(0px,10px)  ;
  }
  50% {
    -o-transform:  translate(0px,40px)  ;
  }
  100% {
    -o-transform:  translate(0px,10px)  ;
  }
}

@-ms-keyframes logoAnimation {
  0% {
    -ms-transform:  translate(0px,10px)  ;
  }
  50% {
    -ms-transform:  translate(0px,40px)  ;
  }
  100% {
    -ms-transform:  translate(0px,10px)  ;
  }
}