/* Chapter Six */


div.chapter-six-page
{
	margin-bottom: 50px;
}

div.chapter-six-page-content div.introduction
{
	margin-bottom: 30px;
	margin-top: 30px;
}

div.healthy-way h2.title
{
	color: #fff;
}

div.healthy-way div.description
{
	font-family: "Signika";
	font-size: .8em;
}

div.healthy-way-img
{
	text-align: center;
	position: relative;
}

div.healthy-way-img img
{
	width: 60%;
	height: auto;
	margin: auto;
	position: absolute;
	opacity: 0;
}

div.healthy-way-img img#sport-img
{
	z-index: 99;
	left: 0;
	top: -500px;
}

div.healthy-way-img img#rest-img
{
	top: 100px;
	left: 650px;
}

div.healthy-way-img img#diet-img
{
	left: -600px;
	width: 80%;
	position: relative;
}

div.yellow-capsule
{
	background-color: #fccc49;
	padding: 25px 25% 35px 15%;
	border-radius: 100px 0 0 100px;
	margin-top: 30px;
}

div.yellow-capsule-content h1
{
	color: #d85b72;
}

div.yellow-capsule-img
{
	position: relative;
}

div.yellow-capsule-img img
{
	width: 35%;
	height: auto;
	position: absolute;
	top: -150px;
 	right: 5%;
	z-index: 999;
}

div.be-healthy 
{
	position: relative;
}

div.be-healthy img
{
	width: 150px;
	height: auto;
	position: absolute;
}

