/* Chapter Six */

div.healthy-way h2.title
{
	color: #fff;
}

div.healthy-way div.description
{
	font-family: "Signika";
	font-size: .8em;
}

div.healthy-way-img
{
	text-align: center;
	position: relative;
}

div.healthy-way-img img
{
	width: 60%;
	height: auto;
	margin: auto;
	position: absolute;
	opacity: 0;
}

div.healthy-way-img img#sport-img
{
	z-index: 99;
	left: 0;
	top: -500px;
}

div.healthy-way-img img#rest-img
{
	top: 80px;
	left: 650px;
}

div.healthy-way-img img#diet-img
{
	left: -600px;
	width: 80%;
	position: relative;
}

div.yellow-capsule
{
	background-color: #fccc49;
	padding: 25px 25% 35px 15%;
	border-radius: 100px 0 0 100px;
	margin-top: 30px;
	-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.2);
}

div.yellow-capsule-content
{
	opacity: 0;
}

div.yellow-capsule-content h1
{
	color: #d85b72;
}

div.yellow-capsule-content span
{
	font-family: "Signika";
}

div.yellow-capsule-img
{
	position: relative;
}

div.yellow-capsule-img img
{
	width: 43%;
	height: auto;
	position: absolute;
	top: 300px;
 	right: 0;
	z-index: 999;
	opacity: 0;
	right: -15px;
}

div.be-healthy 
{
	position: relative;
}

div.be-healthy img
{
	height: 150px;
	width: auto;
	position: absolute;
	top: -110px;
	left: 3%;
	opacity: 0;
	-webkit-transform: rotate(-50deg);
	-moz-transform:    rotate(-50deg);
	-ms-transform:     rotate(-50deg);
	-o-transform:      rotate(-50deg);
	transform:         rotate(-50deg);
}

div.be-healthy h1
{
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	opacity: 0;
	padding-right: 45px;
}