/* Chapter Three */

div.chapter-three-page
{
	background-color: #fffafa;
	padding-top: 0 !important;
}

div.paper-hole
{
	background-image: url("../asset/chapter-three/paper-hole.png");
	background-repeat : repeat-x;
	background-size: auto 100%;
	padding: 30px;
}

div.paper
{
	background-image: url('../asset/chapter-three/paper-line.png');
	background-size: 100% auto;
	background-repeat: repeat-y;
}

div#procedure.paper
{
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 50px;
}

div.paper-drop-shadow
{
	background-image: url("../asset/chapter-three/paper-drop-shadow.png");
	background-repeat : repeat-x;
	background-size: auto 100%;
	padding: 30px;
}

div.kombucha-material h1
{
	text-align: center;
	font-family: 'Signika';
	font-weight: 200;
	font-size: 2.5em;
	-webkit-transform: rotate(-2deg);
	-moz-transform:    rotate(-2deg);
	-ms-transform:     rotate(-2deg);
	-o-transform:      rotate(-2deg);
	transform:         rotate(-2deg);
	color: #d85b72;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 79px;
	padding-top: 15px;
}

div.kombucha-material h1 span
{
	padding-bottom: 5px;
	border-bottom: solid 5px #d85b72;
}

div.kombucha-material div.list
{
	border-left: solid 1px #fccc49;
	font-family: "Signika";
	padding-left: 30px;
}

div.kombucha-material h2
{
	font-weight: 500;
	font-family: "Signika";
	line-height: 74px;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 0;
}

div.kombucha-material h2.asterisk
{
	text-align: right;
	padding-top: 20px;
	line-height: 59px;
}

div.kombucha-material div.list ul
{
	padding-left: 0;
	margin-bottom: 0;
}

div.kombucha-material div.list ul li
{
	list-style: none;
	line-height: 74px;
	font-weight: 500;
	font-size: 2em;
	position: relative;
}

div.kombucha-material div.tools div.list
{
	padding-top: 74px;
	padding-bottom: 76px;
}

div.kombucha-material div.list img
{
	width: auto;
	height: 50px;
	margin-right: 30px;
}

div.kombucha-material div.list a
{
	text-decoration: none;
	color: #fccd49;
}

div.kombucha-material div.list a:hover
{
	color: #6ac8cb;
}

div.kombucha-material div.list ul li span#oxide-wrapper
{
	position: relative;
}

div.kombucha-material div.list ul li span.oxide
{
	font-family: 'ClaireHand';
	color: #d85b72;
	position: absolute;
	top: -83px;
	font-weight: bold;
	left: 10px;
}

div.kombucha-material div.list ul li img#arrow-oxide
{
	width: 70px;
	height: auto;
	position: absolute;
	top: -62px;
	left: -65px;
}

div.kombucha-material div.tools h2.asterisk
{
	margin-top: 74px;
}
	
div.kombucha-procedure h1
{
	text-align: center;
	font-family: 'Signika';
	font-weight: 200;
	font-size: 3em;
}

div.kombucha-procedure div.slider
{
	width: 80%;
	margin: auto;
	position: relative;
}

div.kombucha-procedure div.slide img
{
	width: 100%;
	height: auto;
}

div.kombucha-procedure div.navigation a
{
	position: absolute;
	top: 35%;
}

div.kombucha-procedure div.navigation a#left
{
	left: -10%;
}

div.kombucha-procedure div.navigation a#right
{
	right: -10%;
}

div.kombucha-procedure div.navigation img
{
	width: 50px;
	height:auto;
}