/* Chapter One */

div.chapter-one-page
{
	background-image: url('../asset/chapter-one/rope.png');
	background-repeat: no-repeat; 
	background-size: 100%;
	background-position: top center;
}

div.chapter-one-page ul.clouds div#cloud-one
{
	margin-top: 5%;
	margin-left: 20%;
}

div.chapter-one-page ul.clouds div#cloud-one img
{
	width: 25%;
}

div.chapter-one-page ul.clouds div#cloud-two
{
	margin-top: 40%;
	margin-left: -10%;
}

div.chapter-one-page ul.clouds div#cloud-two img
{
	width: 30%;
}

div.chapter-one-page ul.clouds div#cloud-three
{
	margin-top: 50%;
	margin-right: 10%;
}

div.chapter-one-page ul.clouds div#cloud-three img
{
	width: 40%;
}

div.chapter-one-page-content div.description p.signika
{
	font-family: 'Signika';
	margin-top: 40%;
}

div.chapter-one-page-content div.kombucha-img img.photo
{
	width: 100%;
	height: auto;
	position: relative;
	top: -250px;
	left: 600px;
}

div.chapter-one-page-content div.kombucha-img img.arrow
{
	width: 150px;
	height: auto;
	position: relative;
	top: -50px;
	left: 100px;
}


div.rrc
{
	width: 80%;
	margin: auto;
}

div.rrc > div
{
	width: 50%;
	float: left;
}

div.rrc-photo img#rrc-map
{
	width: 100%;
	height: auto;
}

div.rrc-photo img
{
	width: 100%;
	height: auto;
}

div.rrc div.photo-description
{
	background-image: url('../asset/chapter-one/ribbon.png');
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 20px 10% 20px 20px;
	color: #fff;
	font-family: "Signika";
}



