/* footer */

footer
{
	z-index: 1111;
	position: relative;
}

div.footer
{
	text-align: center;
	text-transform: uppercase;
	background-color: #fccc49;
	padding-top: 15px;
	padding-bottom: 15px;
}

div.footer div.logo-indo-kombucha img
{
	width: 400px;
	height: auto;
}

div.red-capsule
{
	border-radius: 100px;
	background-color: #d85b72;
	color: #fff;
	padding: 25px;
	padding-top: 35px;
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.2);
}

div.red-capsule div.indokombucha-link a
{
	font-size: 1em;
	color: #fccc49;
	text-decoration: none;
	font-family: "Signika";
}

div.red-capsule div.indokombucha-link a:hover
{
	color: #6ac8cb;
}

div.blue-capsule
{
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
}

div.blue-capsule a
{
	color: #fff;
	padding: 25px;
	background-color: #4a6bb7;
	border-radius: 50px;
	text-decoration: none;
	padding: 25px 50px;
	padding-top: 30px;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
}

div.blue-capsule img.arrow
{
	width: 150px;
	height: auto;
	left: -100px;
	top: -60px;

	-webkit-transform: rotate(-10deg);
	-moz-transform:    rotate(-10deg);
	-ms-transform:     rotate(-10deg);
	-o-transform:      rotate(-10deg);
	transform:         rotate(-10deg);

	animation: facebookArrowAnimation linear 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 100%;
	-webkit-animation: facebookArrowAnimation linear 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 100%;
	-moz-animation: facebookArrowAnimation linear 2s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 100%;
	-o-animation: facebookArrowAnimation linear 2s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 100%;
	-ms-animation: facebookArrowAnimation linear 2s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 100%;
}

div.blue-capsule div.capsule-content > span
{
	position: relative;
} 
div.blue-capsule img.arrow, div.blue-capsule span.share-message
{
	display: none;
	position: absolute;
}

div.blue-capsule span:hover img.arrow, div.blue-capsule span:hover span.share-message
{
	display: block;
}

div.blue-capsule span.share-message
{
	font-size: 1.5em;
	top: 40px;
	left: -200px;
	white-space: nowrap;
}

div.copyright
{
	font-family: "Signika";
	font-size: 1em;
	background-color: #fff;
	padding: 15px;
	position: relative;
}

@keyframes facebookArrowAnimation{
  0% {
    transform:  rotate(10deg) ;
  }
  50% {
    transform:  rotate(-10deg) ;
  }
  100% {
    transform:  rotate(10deg) ;
  }
}

@-moz-keyframes facebookArrowAnimation{
  0% {
    -moz-transform:  rotate(10deg) ;
  }
  50% {
    -moz-transform:  rotate(-10deg) ;
  }
  100% {
    -moz-transform:  rotate(10deg) ;
  }
}

@-webkit-keyframes facebookArrowAnimation {
  0% {
    -webkit-transform:  rotate(10deg) ;
  }
  50% {
    -webkit-transform:  rotate(-10deg) ;
  }
  100% {
    -webkit-transform:  rotate(10deg) ;
  }
}

@-o-keyframes facebookArrowAnimation {
  0% {
    -o-transform:  rotate(10deg) ;
  }
  50% {
    -o-transform:  rotate(-10deg) ;
  }
  100% {
    -o-transform:  rotate(10deg) ;
  }
}

@-ms-keyframes facebookArrowAnimation {
  0% {
    -ms-transform:  rotate(10deg) ;
  }
  50% {
    -ms-transform:  rotate(-10deg) ;
  }
  100% {
    -ms-transform:  rotate(10deg) ;
  }
}