/* Intro Page */

div.intro-page
{
	position: relative;
}

div.intro-page ul.clouds img
{
	width: 40%;
}

div.intro-page ul.clouds
{
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.intro-page ul.clouds li
{
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.intro-page ul.clouds div.layer-container
{
	position: relative;
}

div.intro-page ul.clouds div#cloud-one
{
	margin-top: 20%;
	margin-left: -20%;
}

div.intro-page ul.clouds div#cloud-three
{
	margin-top: 45%;
	margin-left: -10%;
}

div.intro-page ul.clouds div.cloud-right
{
	text-align: right;
}

div.intro-page ul.clouds div#cloud-two
{
	margin-top: 10%;
	margin-right: -30%;
}

div.intro-page ul.clouds div#cloud-four
{
	margin-top: 40%;
	margin-right: -15%;
}

/*
div.intro-page ul.clouds li.cloud
{
	position: absolute;
	height: 100%;
}

div.intro-page ul.clouds li.cloud-left
{
	bottom: 25%;
}

div.intro-page ul.clouds li.cloud-right
{
	right: 0;
	top: 40%;
}

div.intro-page ul.clouds li.cloud img
{
	width: 500px;
}*/

div.intro-page-content
{
	text-align: center;
	z-index: 999;
}

div.intro-image img.logo
{
	width: 280px;
	height: auto;
}

div.intro-text
{
	width: 525px;
	margin: auto;
	color: #fff;
}

div.intro-text h1, div.intro-text h3
{
	text-transform: uppercase;
	margin-top: 40px;
}

div.intro-text h1
{
	color: #edcb5d;
	font-size: 2.5em;
}

div.intro-text h3
{
	width: 90%;
	margin: auto;
	margin-top: 40px;
}

div.intro-text p
{
	font-family: 'Signika';
}

div.arrow-down
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

div.arrow-down a.arrow-down-button
{
	text-decoration: none;
	color: #edcb5d;
	font-size: 2em;
	animation: bouncingArrow linear 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: bouncingArrow linear 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: bouncingArrow linear 1s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: bouncingArrow linear 1s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: bouncingArrow linear 1s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}

@keyframes bouncingArrow {
	0% {
		transform: translate(0px,0px);
	}
	50% {
		transform: translate(0px,-25px);
	}
	100% {
		transform: translate(0px,0px);
	}
}

@-moz-keyframes bouncingArrow {
	0% {
		-moz-transform: translate(0px,0px);
	}
	50% {
		-moz-transform: translate(0px,-25px);
	}
	100% {
		-moz-transform: translate(0px,0px);
	}
}

@-webkit-keyframes bouncingArrow {
	0% {
		-webkit-transform: translate(0px,0px);
	}
	50% {
		-webkit-transform: translate(0px,-25px;
	}
	100% {
		-webkit-transform: translate(0px,0px);
	}
}

@-o-keyframes bouncingArrow {
	0% {
		-o-transform: translate(0px,0px);
	}
	50% {
		-o-transform: translate(0px,-25px);
	}
	100% {
		-o-transform: translate(0px,0px);
  }
}

@-ms-keyframes bouncingArrow {
	0% {
		-ms-transform: translate(0px,0px);
	}
	50% {
		-ms-transform: translate(0px,-25px);
	}
	100% {
		-ms-transform: translate(0px,0px);
	}
}

