/* menu bar */

div.menu-bar
{
	background-color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	z-index: 99999;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

div.menu-bar div.logo
{
	margin-top: 10px;
}

div.menu-bar div.logo img
{
	width: 50%;
	height: auto;
}

div.menu-bar div.section-title
{
	padding-top: 13px;
}

div.menu-bar ul.menu
{
	padding-left: 0;
	float: right;
	margin-bottom: 0;
}

div.menu-bar ul.menu li
{
	padding: 15px;
}

div.menu-bar ul.menu li:hover,div.menu-bar ul.menu li.active
{
	background-color: #d85b72;
}

div.menu-bar ul.menu > li
{
	float: left;
	list-style: none;
}

div.menu-bar ul.menu li, div.menu-bar ul.menu li a
{
	color : #d85b72;
}

div.menu-bar ul.menu li:hover, div.menu-bar ul.menu li:hover > a, div.menu-bar ul.menu li.active > a
{
	color: #fff;
}

div.menu-bar ul.menu li a
{
	text-decoration: none;
}

div.menu-bar ul.menu > li:hover ul.dropdown-menu
{
	display: block;
}

div.menu-bar ul.dropdown-menu
{
	margin-top: 0;
	font-size: .6em;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li.active>a, .dropdown-menu>li.active>a:hover, .dropdown-menu>li.active>a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
{
	background: none;
}

.dropdown-menu>li>a
{
	padding: 0;
}
