html, body
{
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body
{
	background-color: #6ac8cb;
	font-family: 'ClaireHand', sans-serif;
	font-size: 2em;
}


div.content, footer, div.menu-wrapper
{
	max-width: 1366px;
}

.disable-scroll
{
	/*height: 100%;
	overflow: hidden;*/
}

div.container
{
	width: 80%;
}

div.intro-page, div.chapter-one-page
{
	position: relative;
}

ul.clouds
{
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

ul.clouds li
{
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

ul.clouds div.layer-container
{
	position: relative;
}

ul.clouds div.cloud-right
{
	text-align: right;
}

div.introduction
{
	margin-bottom: 30px;
	margin-top: 30px;
}

div.introduction span
{
	font-family: "Signika";
	padding: 15px;	
	background-color: #FCCC49;
	font-weight: bold;
}

div.introduction span.red
{
	color: #fff;
	background-color: #d85b72;
	padding-left: 50px;
	padding-right: 50px;
}